@charset "UTF-8";
/*
============================================
============================================
* author: Los de siempre
* 
============================================
============================================
*/
@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:300i,400,500,700,800,900|Alegreya:400,400i,500,500i,700,700i,800,900|Alegreya+Sans+SC|Material+Icons&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  background-repeat: no-repeat;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, button,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* html .clearfix {
  zoom: 1;
}

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1;
}

/* IE7 */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

img {
  max-width: 100%;
}

button {
  background: none;
  border-radius: 0;
}

a, a:hover, a:focus, a:active, input:focus, textarea:focus, button:focus, div:focus {
  text-decoration: none;
  outline: none;
  color: inherit;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.block {
  padding: 112px 54px;
}

.block--topbottom {
  padding: 100px 0px;
}

.block--sides {
  padding: 0 54px;
}

.block--half {
  padding: 54px;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.icon--search {
  width: 18px;
  height: 18px;
  background-image: url(../../img/icon--search-black.svg);
  cursor: pointer;
  /*&:hover{ @extend .hover;}*/
}

.icon--cart {
  width: 19px;
  height: 19px;
  background-image: url(../../img/icon--cart-black.svg);
  cursor: pointer;
  /*&:hover{ @extend .hover;}*/
}

.icon--toggle {
  width: 20px;
  height: 20px;
  background-image: url(../../img/icon--toggle.svg);
  cursor: pointer;
}

.icon--close {
  width: 26px;
  height: 26px;
}

.btn {
  border-radius: 3px;
  display: inline-block;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: bold;
  transition: all .2s ease-in-out;
  opacity: 0.9;
}

.btn:hover {
  transform: scale(1.05);
  opacity: 1;
}

.btn--primary {
  padding: 8px 28px;
  background: #F7A600;
  color: white;
}

.btn--primaryhover {
  color: white;
}

.btn--comprar {
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  border-radius: 5px;
  background-color: #F76200;
}

.bg--bgrey {
  background: #78909c;
}

.bg--grey {
  background: #f5f5f5;
}

.bg--light {
  background: #FBFBFB;
}

.bg--white {
  background: white;
}

.bg--border {
  border-bottom: #f5f5f5;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: white;
}

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hover {
  filter: invert(100) sepia(0) hue-rotate(100deg);
  transition: 0.4s ease all;
}

body {
  font-family: 'Alegreya', sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  color: #212121;
  background: #fafafa;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 0.5s ease 0s;
}

h1 {
  font-size: 64px;
  font-family: 'Alegreya Sans';
}

h2 {
  font-family: 'Alegreya Sans';
  font-size: 48px;
  margin-bottom: 13px;
  letter-spacing: -.0625rem;
}

h3 {
  font-size: 40px;
  font-family: 'Alegreya Sans';
  font-weight: 900;
}

h4 {
  font-size: 36px;
  font-family: 'Alegreya Sans';
}

h5 {
  font-size: 28px;
}

h6 {
  font-size: 24px;
  font-family: 'Alegreya';
  font-style: italic;
}

p {
  font-family: 'Alegreya';
  font-size: 1.2em;
  line-height: 1.5em;
}

small {
  font-size: 14px;
}

section:nth-of-type(odd) {
  background: #f5f5f5;
}

/*
══════════════════════════════════════════
	 __    __   _______     ___       _______   _______ .______
	|  |  |  | |   ____|   /   \     |       \ |   ____||   _  \
	|  |__|  | |  |__     /  ^  \    |  .--.  ||  |__   |  |_)  |
	|   __   | |   __|   /  /_\  \   |  |  |  ||   __|  |      /
	|  |  |  | |  |____ /  _____  \  |  '--'  ||  |____ |  |\  \----.
	|__|  |__| |_______/__/     \__\ |_______/ |_______|| _| `._____|
	
══════════════════════════════════════════
*/
.header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 16px 32px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 200;
}

.header__logo {
  width: 32px;
}

.header__logo img {
  max-height: 36px;
  vertical-align: middle;
}

.header__nav {
  justify-self: end;
  align-items: center;
  display: flex;
  width: 100px;
  justify-content: space-between;
  overflow: hidden;
}

.header__nav ul {
  position: fixed;
  background: white;
  right: 0px;
  top: 0px;
  width: 280px;
  height: 100vh;
  transform: translateX(900px);
  transition: 0.5s ease all;
  box-shadow: 1px 0px 24px rgba(0, 0, 0, 0.15);
  padding: 64px;
  text-align: left;
}

.header__nav ul li {
  margin-bottom: 16px;
}

.header__icon--close {
  display: none !important;
}

.header__toggler {
  margin-left: 15px;
}

.header--home {
  padding: 32px 32px;
}

.header--sticky {
  background: #f5f5f5;
}

.header--toggled .header__nav ul {
  display: block;
  transform: translateX(0px);
}

.header--toggled .header__icon--toggle {
  display: none;
}

.header--toggled .header__icon--close {
  display: block !important;
  z-index: 343242343;
  position: relative;
}

.bighero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  overflow: hidden;
  padding: 52px;
  grid-template-areas: "texto imagen";
  height: calc(100vh - 64px);
  background: url(../../img/banner01.jpg) center right;
  background-repeat: repeat;
  background-size: auto;
  background-size: 80%;
  background-repeat: no-repeat;
}

.bighero__info {
  grid-area: texto;
  font-size: 24px;
  align-self: center;
}

.bighero__title {
  font-family: 'Alegreya Sans', sans-serif;
  line-height: 1.08;
  font-weight: 800;
  margin-bottom: 34px;
}

.bighero__desc {
  font-family: 'Alegreya', sans-serif;
}

.bighero__figure {
  grid-area: imagen;
}

/*
══════════════════════════════════════════
	.______   .______        ______    _______   __    __    ______ .___________.  ______        _______.
	|   _  \  |   _  \      /  __  \  |       \ |  |  |  |  /      ||           | /  __  \      /       |
	|  |_)  | |  |_)  |    |  |  |  | |  .--.  ||  |  |  | |  ,----'`---|  |----`|  |  |  |    |   (----`
	|   ___/  |      /     |  |  |  | |  |  |  ||  |  |  | |  |         |  |     |  |  |  |     \   \
	|  |      |  |\  \----.|  `--'  | |  '--'  ||  `--'  | |  `----.    |  |     |  `--'  | .----)   |
	| _|      | _| `._____| \______/  |_______/  \______/   \______|    |__|      \______/  |_______/
	
══════════════════════════════════════════
*/
.prod {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "info slider slider";
  column-gap: 24px;
}

.prod__info {
  grid-area: info;
  align-self: center;
  padding: 0px 54px;
}

.prod__info p {
  padding-bottom: 15px;
}

.prod__carousel {
  grid-area: slider;
  overflow: hidden;
  display: block;
  position: relative;
}

.prod__item {
  padding: 0px 10px 0px 0px;
}

.prod__arrow {
  width: 29px;
  height: 76.9%;
  /*background: rgba(255,255,255,0.7);*/
  position: absolute;
  display: flex;
  align-items: center;
  z-index: 34;
  cursor: pointer;
  top: 0;
  transition: 0.5s ease all;
  transform: translateY(24px);
}

.prod__arrow:hover {
  /*background: rgba(255,255,255,0.3);*/
}

.prod__arrow--next {
  right: 0px;
}

.prod__arrow--prev {
  left: 0px;
}

.prod__figure {
  transition: all .2s ease-in-out;
}

.prod__figure:hover {
  transform: scale(1.01);
}

.prod__figure img {
  object-fit: cover;
  width: 400px;
  height: 400px;
}

.prod__figcaption {
  text-align: center;
  font-family: "Alegreya Sans";
  margin-top: 8px;
  color: #333333;
}

.prod__figcaption h3 {
  font-size: 18px;
  font-weight: normal;
}

.prod__price {
  color: #999;
}

.prod__feature {
  font-family: "Alegreya Sans";
  max-width: 400px;
  margin: 8px 0 16px 0;
}

.prod__feature strong {
  font-family: "Alegreya Sans SC";
}

.prod__feature li {
  padding: 8px 0;
}

.prod__feature li:not(:last-child) {
  border-bottom: 1px solid #eeeeee;
}

.prod__feature li:last-child {
  font-variant-numeric: tabular-nums;
}

.sprod {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 24px;
  align-items: center;
  grid-template-areas: "slider texto" "slider texto";
}

.sprod__items-wrp {
  grid-area: slider;
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 100%;
}

.sprod__items {
  overflow: hidden;
  min-width: 200px;
  margin: 0 auto;
  width: auto;
}

.sprod__items img {
  width: 100%;
}

.sprod__items figure {
  overflow: hidden;
}

.sprod__thumb {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 550px;
  width: auto;
}

.sprod__thumb-item {
  padding: 10px;
  flex-basis: 40%;
}

.sprod__nav {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0 auto;
}

.sprod__desc {
  grid-area: texto;
}

.sprod__items-wrp {
  max-width: 580px;
}

.allprods__nav {
  display: flex;
  justify-content: center;
  font-family: "alegreya sans";
  color: #757575;
  font-size: 18px;
  padding: 24px 0;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  z-index: 200;
}

.allprods__nav li {
  display: inline-block;
  padding: 0px 20px;
}

.allprods__nav li a {
  display: block;
  padding: 4px 8px;
  transition: 0.1s ease all;
}

.allprods__nav li a:hover {
  background: #ffbc8f;
  color: #ff7e29;
  border-radius: 4px;
}

.allprods__nav li.active, .allprods__nav li.current-cat {
  background: #ffbc8f;
  color: #f56200;
  border-radius: 4px;
  font-weight: 500;
}

.allprods__desc {
  text-align: center;
  max-width: 40%;
  margin: 0 auto;
  margin-bottom: 32px;
}

.allprods__desc h2 {
  letter-spacing: 0.2px;
}

.allprods__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 24px;
  padding-bottom: 50px;
  background: #f5f5f5;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.allprods__figure {
  font-family: "Alegreya Sans";
  position: relative;
}

.allprods__figure img:hover {
  transform: scale(1.01);
  transition: 1s ease all;
}

.allprods__figure .btn {
  position: absolute;
  bottom: 3px;
  right: 0;
  opacity: 0;
  transform: translateY(8px);
  transition: all 0.4s ease-out;
}

.allprods__figure:hover .btn, .allprods__figure:hover .cantidad {
  opacity: 1;
  transform: translateY(0);
}

.allprods__figure--agotado:after {
  font-family: "Alegreya Sans SC";
  font-weight: 500;
  letter-spacing: 0.5px;
  position: absolute;
  content: " agotado";
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.1);
  color: #fafafa;
  top: 8px;
  right: 8px;
  padding: 4px 16px;
  font-size: 14px;
}

/*
══════════════════════════════════════════
	.______   .______        ______     ______  _______     _______.     _______.
	|   _  \  |   _  \      /  __  \   /      ||   ____|   /       |    /       |
	|  |_)  | |  |_)  |    |  |  |  | |  ,----'|  |__     |   (----`   |   (----`
	|   ___/  |      /     |  |  |  | |  |     |   __|     \   \        \   \
	|  |      |  |\  \----.|  `--'  | |  `----.|  |____.----)   |   .----)   |
	| _|      | _| `._____| \______/   \______||_______|_______/    |_______/
	
══════════════════════════════════════════
*/
.process {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 36px;
  text-align: center;
}

.process h4 {
  font-size: 18px;
  padding-bottom: 8px;
  font-weight: 600;
}

.process.block {
  padding: 100px;
}

.process figcaption {
  margin-top: 16px;
}

.process img {
  max-width: 280px;
  max-height: 200px;
}

.process p {
  font-size: 18px;
}

/*
══════════════════════════════════════════
	Genéricos
══════════════════════════════════════════
*/
.text-img__fig {
  max-width: 80%;
  margin: 0 auto;
}

.text-img__desc h1 {
  font-weight: 700;
  line-height: 1;
  color: #212121;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.text-img__desc p {
  font-size: 24px;
  color: #9e9e9e;
}

.text-img .btn--comprar {
  margin-top: 32px;
}

.autor {
  text-align: center;
}

.autor__avatar {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  position: relative;
  border: solid 8px #F76200;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 20px;
}

.autor__avatar img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  -o-object-fit: cover;
  object-fit: cover;
}

.autor__name {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: bold;
  font-size: 0.8em;
  color: #999999;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.autor p {
  font-size: 1.4em;
  color: #999999;
}

.cantidad {
  position: relative;
  color: white;
  display: inline-block;
  margin-top: 10px;
  transition: ease all 1s;
}

.cantidad__anadir {
  background-color: #F76200;
  border-radius: 5px;
  padding: 8px 70px;
  color: white;
  line-height: 1;
  vertical-align: middle;
  font-family: Alegreya Sans;
  text-transform: uppercase;
  font-weight: 300;
  transition: ease all 1s;
}

.cantidad__anadir:hover {
  background-color: #FF751A;
  cursor: pointer;
}

.cantidad__anadir span {
  font-size: 1.4em;
  margin-left: 5px;
  font-variant-numeric: tabular-nums;
  font-weight: 600;
}

.cantidad__button {
  position: absolute;
  top: 0;
  padding: 5px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transition: 1s ease all;
  color: white;
}

.cantidad__button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.cantidad__button--menos {
  border-radius: 5px 0 0 5px;
  left: 0;
  padding: 0 10px;
}

.cantidad__button--mas {
  border-radius: 0 5px 5px  0;
  right: 0;
  padding: 0 10px;
}

.cantidad__button i {
  vertical-align: middle;
}

.modalproducto {
  position: fixed;
  z-index: 12098786;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.24);
  display: none;
}

.modalproducto table {
  width: 100%;
}

.modalproducto__cont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}

.modalproducto__space {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.modalproducto__wrp {
  border-radius: 20px;
  box-shadow: 0 2px 22px 0 rgba(0, 0, 0, 0.18);
  border-radius: 9px;
  border: 0 solid #EBEBEB;
  color: #333333;
  letter-spacing: 0;
  text-align: center;
  background: rgba(51, 51, 51, 0.35);
  background-color: white;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  position: relative;
  z-index: 19038839;
}

.modalproducto__head {
  border-bottom: solid 1px #EBEBEB;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}

.modalproducto__head h3 {
  font-size: 1.2em;
  font-weight: normal;
}

.modalproducto__close {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.modalproducto__desc {
  padding: 10px 0;
}

.modalproducto table {
  margin-bottom: 20px;
}

.modalproducto td:nth-of-type(1) {
  font-family: "Alegreya SC";
  color: rgba(51, 51, 51, 0.7);
}

/*
 	     _______. __  .__   __.   _______  __       _______
 	    /       ||  | |  \ |  |  /  _____||  |     |   ____|
 	   |   (----`|  | |   \|  | |  |  __  |  |     |  |__
 	    \   \    |  | |  . `  | |  | |_ | |  |     |   __|
 	.----)   |   |  | |  |\   | |  |__| | |  `----.|  |____
 	|_______/    |__| |__| \__|  \______| |_______||_______|
 	
 	*/
.single {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.single__thumbs {
  position: -webkit-sticky;
  position: sticky;
  top: 8rem;
  width: 9%;
  height: 100vh;
}

.single__thumbs figure {
  width: 100%;
  height: auto;
}

.single__thumbs figure.active img {
  border: 1px solid black;
  width: 100%;
  height: auto;
}

.single__slideshow {
  position: -webkit-sticky;
  position: sticky;
  width: 50%;
}

.single__slideshow figure, .single__slideshow img {
  width: 100%;
}

.single__slideshow figure:last-of-type {
  margin-bottom: 300px;
}

.single__desc {
  width: 34%;
  position: sticky;
  position: -webkit-sticky;
  top: 8rem;
}

.single__info {
  padding: 0px !important;
}

.single .sprod {
  display: none;
}

/*
══════════════════════════════════════════
	 _______   ______     ______   .___________. _______ .______
	|   ____| /  __  \   /  __  \  |           ||   ____||   _  \
	|  |__   |  |  |  | |  |  |  | `---|  |----`|  |__   |  |_)  |
	|   __|  |  |  |  | |  |  |  |     |  |     |   __|  |      /
	|  |     |  `--'  | |  `--'  |     |  |     |  |____ |  |\  \----.
	|__|      \______/   \______/      |__|     |_______|| _| `._____|
	
══════════════════════════════════════════
*/
.footer {
  font-family: 'Alegreya Sans';
}

.footer strong {
  font-weight: 700;
}

.footer a:hover {
  color: #F7A600;
}

.footer__sub1 {
  width: 100%;
  padding: 54px;
  font-size: 14px;
  line-height: 1.3rem;
  color: #9e9e9e;
  border-top: 1px solid #f5f5f5;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.footer__sub1 ul {
  padding: 0px;
}

.footer__pagopar {
  max-width: 150px;
}

.footer__sub2 {
  font-family: 'Alegreya Sans SC';
  font-weight: 100;
  text-transform: lowercase;
  flex: 1 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border-top: 1px solid #eeeeee;
  color: rgba(0, 0, 0, 0.4);
  font-size: 16px;
  padding: 24px 0;
}

.footer__sub2 li {
  padding: 16px;
}
