@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:300i,400,500,700,800,900|Alegreya:400,400i,500,500i,700,700i,800,900|Alegreya+Sans+SC|Material+Icons&display=swap");
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.hover {
  filter: invert(100) sepia(0) hue-rotate(100deg);
  transition: 0.4s ease all; }

/*
══════════════════════════════════════════
	 ____    ___     ___
	|___ \  |__ \   / _ \
	  __) |    ) | | | | |
	 |__ <    / /  | | | |
	 ___) |  / /_  | |_| |
	|____/  |____|  \___/
		
══════════════════════════════════════════
*/
@media (max-width: 759px) {
  h1 {
    font-size: 54px; }
  h2 {
    font-size: 48px; }
  h3 {
    font-size: 36px; }
  h4 {
    font-size: 28px; }
  h5 {
    font-size: 24px; }
  h6 {
    font-size: 18px; }
  p {
    font-size: 16px; }
  p {
    font-size: 16px; }
  small {
    font-size: 14px; }
  .block {
    padding: 56px 24px; }
    .block--half {
      padding: 24px; }
    .block--sides {
      padding: 0 24px; }
    .block--topbottom {
      padding: 56px 0px; }
  .bighero {
    grid-template-areas: "texto texto" "imagen imagen";
    background: none;
    padding: 0px;
    height: 80vh; }
    .bighero__title {
      font-size: 36px;
      padding: 0 54px;
      margin: 16px 0;
      text-align: left; }
    .bighero__desc {
      font-size: 18px;
      padding: 0 54px; }
    .bighero__figure {
      display: block;
      margin-top: 16px;
      vertical-align: bottom; }
  .prod {
    grid-template-areas: "info info info" "slider slider slider"; }
    .prod__info {
      padding: 0px 54px;
      text-align: center; }
    .prod__carousel {
      padding: 24px 0; }
  .sprod {
    grid-template-areas: "slider slider" "texto texto "; }
    .sprod__items {
      margin: 0 auto 24px 0; }
    .sprod__nav {
      display: none; }
    .sprod .prod__info {
      text-align: left; }
  .allprods__nav {
    top: 75.3px;
    background: white;
    padding: 8px 4px;
    font-size: 18px; }
    .allprods__nav li {
      padding: 4px; }
      .allprods__nav li a {
        padding: 0 8px; }
  .allprods__items {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 8px; }
  .allprods__desc {
    max-width: 100%; }
  .text-img {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
    max-width: 100%;
    margin: 0 auto; }
    .text-img__desc h2 {
      font-size: 32px; }
    .text-img__desc h2 + a {
      margin-top: 8px !important; }
    .text-img__desc p {
      font-size: 18px; }
    .text-img .btn--comprar {
      margin-bottom: 16px;
      width: 90%; }
    .text-img div + figure {
      margin-top: 18px; }
  .img-img {
    grid-template-columns: 1fr;
    grid-gap: 8px; }
  .footer ul {
    padding: 15px 0; }
  .footer__sub1 {
    flex-direction: column;
    justify-content: flex-start; }
  .footer__sub2 {
    flex-direction: column;
    justify-content: flex-start;
    padding: 15px 50px !important; }
    .footer__sub2 li {
      padding: 4px; }
  .single {
    display: grid;
    grid-auto-flow: row dense; }
    .single__desc {
      width: 100%;
      padding: 0px 32px 54px 32px;
      top: 0px; }
    .single__slideshow, .single__thumbs {
      display: none; }
    .single .sprod {
      display: grid;
      grid-template-areas: "slider slider";
      padding-bottom: 24px; }
    .single .prod__info {
      text-align: left; } }

.process {
  grid-template-columns: 1fr; }
  .process p {
    display: none; }
  .process.block {
    padding: 56px 24px; }

/*
══════════════════════════════════════════
	 ______     __     ___
	|____  |   / /    / _ \
	    / /   / /_   | | | |
	   / /   | '_ \  | | | |
	  / /    | (_) | | |_| |
	 /_/      \___/   \___/
	
══════════════════════════════════════════
*/
@media (min-width: 760px) and (max-width: 959px) {
  h1 {
    font-size: 54px; }
  h2 {
    font-size: 48px; }
  h3 {
    font-size: 36px; }
  h4 {
    font-size: 28px; }
  h5 {
    font-size: 24px; }
  h6 {
    font-size: 18px; }
  p {
    font-size: 16px; }
  small {
    font-size: 14px; }
  .block {
    padding: 56px 24px; }
    .block--half {
      padding: 24px; }
    .block--sides {
      padding: 0 24px; }
    .block--topbottom {
      padding: 56px 0px; }
  .single__desc {
    width: 40%;
    position: relative;
    top: 50px; }
  .single__slideshow, .single__thumbs {
    display: none; }
  .single .sprod {
    display: block; }
  .bighero {
    grid-template-areas: "texto texto" "imagen imagen";
    height: calc(100vh - 81px); }
    .bighero__figure {
      display: none; }
  .prod {
    grid-template-areas: "info info info" "slider slider slider"; }
    .prod.block {
      padding: 54px 0px; }
    .prod__info {
      padding: 0px 54px; }
    .prod__carousel {
      padding: 24px 0; }
  .sprod {
    grid-template-areas: "slider slider" "texto texto"; }
    .sprod__items-wrp {
      max-width: 387px; }
    .sprod__nav {
      display: none; }
    .sprod .prod__info {
      text-align: left; }
  .allprods__nav {
    top: 0px;
    background: transparent;
    padding: 24px 0;
    font-size: 18px; }
    .allprods__nav li {
      padding: 0 20px; }
  .allprods__items {
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 50px; }
  .allprods__desc {
    max-width: 40%; }
  .text-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
    align-items: center;
    text-align: left;
    max-width: 95%;
    margin: 0 auto; }
    .text-img__desc h2 {
      font-size: 54px;
      color: #212121; }
    .text-img__desc p {
      font-size: 24px;
      color: #9e9e9e; }
    .text-img .btn--comprar {
      max-width: 50%; }
  .img-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px; }
  .autor p {
    max-width: 680px;
    margin: 0 auto;
    padding-top: 16px; }
  .process {
    grid-template-columns: repeat(3, 1fr); }
    .process p {
      display: block; }
  .block {
    padding: 100px; } }

@media (min-width: 960px) {
  height: calc(100vh - 60px);
  .sprod {
    display: none; }
  .single__slideshow, .single__thumbs {
    display: block; }
  .bighero__figure {
    display: none; }
  .text-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
    align-items: center;
    text-align: left;
    max-width: 95%;
    margin: 0 auto; }
    .text-img__desc h2 {
      font-size: 54px;
      color: #212121; }
    .text-img__desc p {
      font-size: 24px;
      color: #9e9e9e; }
    .text-img .btn--comprar {
      max-width: 50%; }
  .img-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px; }
  .process {
    grid-template-columns: repeat(3, 1fr); }
    .process.block {
      padding: 100px; }
    .process p {
      display: block; } }
